<!DOCTYPE html>
<html>

<%- include('ejs/common/_head', { pageTitle: '事業内容', description: 'サービスページの説明文', path: '../' }) %>


<body class="service">

<%- include('./ejs/common/_header', { el: 'p', path: '../' }) %>


<main>

  <section class="pageHeader pageHeader--service">
    <h1 class="pageheader__heading primaryHeading primaryHeading--center primaryHeading--md-left">
      <span class="primaryHeading__ja">事業案内</span>

      <span class="primaryHeading__en" lang="en">Service</span>
    </h1>
  </section>


  <div class="l-container">

    <div class="pageIntro">
      <p class="pageIntro__catch">
        <b class="pageIntro__catchText">キャッチコピーが入ります。キャッチコピーが入ります。<br>
          キャッチコピーが入ります。</b>
      </p>

      <p class="pageIntro__text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。</p>
    </div><!-- /.page-intro -->


    <div class="serviceAlternateWrapper">

      <section class="serviceAlternate">
        <div class="serviceAlternate__body">
          <hgroup class="serviceAlternate__headingGroup">
            <h2 class="serviceAlternate__heading">事業タイトルが入ります</h2>

            <p class="serviceAlternate__subHeading">サービス1</p>
          </hgroup>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>


          <ul class="serviceAlternate__photoList grid grid--4col">
            <li class="serviceAlternate__photoItem">
              <img class="serviceAlternate__photoImage"
                src="../images/service/dmy_thumb03.jpg"
                srcset="../images/service/dmy_thumb03.jpg 144w,
                        ../images/service/dmy_thumb03@2x.jpg 288w"
                sizes="(max-width: 567px) calc(225 / 567 * 100vw),
                       (max-width: 767px) calc(152.5 / 767 * 100vw),
                       calc(102.75 / 568 * 100vw)"
                alt=""
                width="144"
                height="100">
            </li>

            <li class="serviceAlternate__photoItem">
              <img class="serviceAlternate__photoImage"
                src="../images/service/dmy_thumb03.jpg"
                srcset="../images/service/dmy_thumb03.jpg 144w,
                        ../images/service/dmy_thumb03@2x.jpg 288w"
                sizes="(max-width: 567px) calc(225 / 567 * 100vw),
                       10.7vw"
                alt=""
                width="144"
                height="100">
            </li>

            <li class="serviceAlternate__photoItem">
              <img class="serviceAlternate__photoImage"
                src="../images/service/dmy_thumb03.jpg"
                srcset="../images/service/dmy_thumb03.jpg 144w,
                        ../images/service/dmy_thumb03@2x.jpg 288w"
                sizes="(max-width: 567px) calc(225 / 567 * 100vw),
                       10.7vw"
                alt=""
                width="144"
                height="100">
            </li>
          </ul>
        </div><!-- /.serviceAlternate__body -->

        <figure class="serviceAlternate__figure">
          <img class="serviceAlternate__image" src="../images/service/ph_service01.jpg" alt="" width="800" height="500">
        </figure>
      </section>

      <section class="serviceAlternate --reverse">
        <div class="serviceAlternate__body">
          <hgroup class="serviceAlternate__headingGroup">
            <h2 class="serviceAlternate__heading">事業タイトルが入ります</h2>

            <p class="serviceAlternate__subHeading">サービス2</p>
          </hgroup>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>


          <ul class="serviceAlternate__photos grid grid--4col">
            <li class="serviceAlternate__photo">
              <img class="serviceAlternate__photoImage"
                src="../images/service/dmy_thumb03.jpg"
                srcset="../images/service/dmy_thumb03.jpg 144w,
                        ../images/service/dmy_thumb03@2x.jpg 288w"
                sizes="(max-width: 767px) 19.9vw,
                      10.7vw"
                alt=""
                width="144"
                height="100">
            </li>

            <li class="serviceAlternate__photo">
              <img class="serviceAlternate__photoImage"
                src="../images/service/dmy_thumb03.jpg"
                srcset="../images/service/dmy_thumb03.jpg 144w,
                        ../images/service/dmy_thumb03@2x.jpg 288w"
                sizes="(max-width: 767px) 19.9vw,
                      10.7vw"
                alt=""
                width="144"
                height="100">
            </li>
          </ul>
        </div><!-- /.serviceAlternate__body -->

        <figure class="serviceAlternate__figure">
          <img class="serviceAlternate__image" src="../images/service/ph_service02.jpg" alt="" width="800" height="500">
        </figure>
      </section>

      <section class="serviceAlternate">
        <div class="serviceAlternate__body">
          <hgroup class="serviceAlternate__headingGroup">
            <h2 class="serviceAlternate__heading">事業タイトルが入ります</h2>

            <p class="serviceAlternate__subHeading">サービス3</p>
          </hgroup>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>


          <ul class="serviceAlternate__photos grid grid--4col">
            <li class="serviceAlternate__photo">
              <img class="serviceAlternate__photoImage"
                src="../images/service/dmy_thumb03.jpg"
                srcset="../images/service/dmy_thumb03.jpg 144w,
                        ../images/service/dmy_thumb03@2x.jpg 288w"
                sizes="(max-width: 767px) 19.9vw,
                      10.7vw"
                alt=""
                width="144"
                height="100">
            </li>

            <li class="serviceAlternate__photo">
              <img class="serviceAlternate__photoImage"
                src="../images/service/dmy_thumb03.jpg"
                srcset="../images/service/dmy_thumb03.jpg 144w,
                        ../images/service/dmy_thumb03@2x.jpg 288w"
                sizes="(max-width: 767px) 19.9vw,
                      10.7vw"
                alt=""
                width="144"
                height="100">
            </li>

            <li class="serviceAlternate__photo">
              <img class="serviceAlternate__photoImage"
                src="../images/service/dmy_thumb03.jpg"
                srcset="../images/service/dmy_thumb03.jpg 144w,
                        ../images/service/dmy_thumb03@2x.jpg 288w"
                sizes="(max-width: 767px) 19.9vw,
                      10.7vw"
                alt=""
                width="144"
                height="100">
            </li>

            <li class="serviceAlternate__photo">
              <img class="serviceAlternate__photoImage"
                src="../images/service/dmy_thumb03.jpg"
                srcset="../images/service/dmy_thumb03.jpg 144w,
                        ../images/service/dmy_thumb03@2x.jpg 288w"
                sizes="(max-width: 767px) 19.9vw,
                      10.7vw"
                alt=""
                width="144"
                height="100">
            </li>
          </ul>
        </div><!-- /.serviceAlternate__body -->

        <figure class="serviceAlternate__figure">
          <img class="serviceAlternate__image" src="../images/service/ph_service03.jpg" alt="" width="800" height="500">
        </figure>
      </section>

    </div><!-- /.serviceAlternateWrapper -->

  </div><!-- /.l-container -->

</main>


<%- include('./ejs/other/_contact.ejs') %>


<nav class="breadcrumb u-pc-only" aria-label="パンくずリスト">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="/">ホーム</a>
    </li>

    <li class="breadcrumb__item">
      <span aria-current="page">事業内容</span>
    </li>
  </ol>
</nav>


<%- include('ejs/common/_footer') %>




</body>
</html>
