// パーツ・ボタン



// 変数、ミックスイン、関数
@use "../../global/" as g;



/* プライマリ */
.primaryBtn {
  appearance: none;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: solid 2px g.$mainColor;
  background-color: g.$whiteColor;
  color: g.$textColor;
  @include g.rem-fz(18);
  font-weight: bold;
  line-height: 1;
  text-decoration-line: none;
  cursor: pointer;
  transition: all .3s;
  display: grid;
  place-content: center;

  @include g.hover-focus {
    background-color: g.$lightMainColor2;
    color: g.$textColor;
  }

  &--white {
    border-color: g.$whiteColor;
    background-color: transparent;
    color: g.$whiteColor;
    grid-auto-flow: column;
    column-gap: 8px;
    align-items: center;

    @include g.hover-focus {
      border-color: g.$whiteColor;
      background-color: rgb(255 255 255 / 30%);
      color: g.$whiteColor;
    }
  }

  &--action {
    border-color: transparent;
    background-color: g.$accentColor;
    color: g.$whiteColor;

    @include g.hover-focus {
      border-color: transparent;
      background-color: g.$accentColor;
      color: g.$whiteColor;
      opacity: .7;
    }
  }

  &--center {
    margin-inline: auto;
  }

  &:disabled {
    border-color: g.$grayColor;
    background-color: g.$grayColor;
    color: g.$whiteColor;
    cursor: default;

    @include g.hover-focus {
      border-color: g.$grayColor;
      background-color: g.$grayColor;
      color: g.$whiteColor;
      opacity: 1;
    }
  }
}




// 詳しく見る
.moreBtn {
  appearance: none;
  padding: 10px;
  background-color: g.$mainColor;
  color: g.$whiteColor;
  font-size: g.rem(16);
  font-weight: bold;
  cursor: pointer;
  transition: all .3s;
  display: grid;

  &__text {
    grid-area: 1 / 1;
    place-self: center;
  }

  &::after {
    grid-area: 1 / 1;
    place-self: center end;
    content: "";
    width: 10px;
    height: 10px;
    border-top: solid 2px;
    border-right: solid 2px;
    margin-right: 10px;
    rotate: 45deg;
    transition: all .3s;
  }
}
