// 共通・パンくずリスト


// 変数、ミックスリン、関数
@use "../../global/" as g;



.breadcrumb {
  padding: 15px 50px;
  background-color: g.$lightGrayColor1;

  &__list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
    justify-content: start;
  }

  &__item {
    @include g.rem-fz(12);

    &:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 5px;
      height: 5px;
      border-top: solid 1px;
      border-right: solid 1px;
      margin-left: 2px;
      rotate: 45deg;
      translate: 0 -1px;
    }
  }

  &__link {
    text-underline-position: under;
  }
}
