// Utilityクラス・ユーティリティクラス・汎用クラス・ヘルパークラス


// 変数、ミックスイン、関数
@use "../global/" as g;



/* 上マージン */
@for $i from 1 through 10 {
  .u-mt#{$i * 10} {
    margin-top: $i * 10px;
  }
}




/* パソコンのみ */
.u-pc-only {
  display: none !important;

  @include g.mq() {
    display: block !important;
  }
}
