// セクション・セカンダリ


// 変数、ミックスイン、関数
@use "../../../global/" as g;



.secondarySection {
  padding-block: 50px;

  & + & {
    padding-block-start: 0;
  }

  &__heading {

    + * {
      margin-top: 20px;
    }
  }


  @include g.mq() {
    padding-block: 80px;

    &__heading {

      + * {
        margin-top: 40px;
      }
    }
  }
}
