@charset "UTF-8";



/*----------------------------------------
	Variables
----------------------------------------*/

:root {
  --c_main: #37952F;
  --c_sub: #EAF5E9;
  --c_sub2: #70CC33;
  --c_black: #333333;
  --c_gray: #CCCCCC;
  --c_dark-gray: #707070;
  --c_light-gray: #EEEEEE;
  --c_light-gray2: #E7E7E7;
  --c_white: #FFFFFF;
  --c_action: #FF7600;
  --c_alert: #DF5656;
}




/*----------------------------------------
	reset
----------------------------------------*/

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, main, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

header, footer, article, section, aside, main, nav, menu, figure, figcaption {
  display: block;
}

span, small, strong, em, b, i {
  color: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

input, select {
  vertical-align: middle;
}

input, textarea {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

q::before,
q::after {
  display: none;
}




/*----------------------------------------
	base
----------------------------------------*/

body {
  color: var(--c_black);
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
}

a {
  color: var(--c_main);
  transition: color 0.3s;
}

a:hover {
  color: var(--c_sub2);
  text-decoration: none;
}




/*----------------------------------------
	header
----------------------------------------*/

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 50px;
  background: var(--c_white);
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  flex-shrink: 0;
  width: 105px;
  margin-left: 20px;
}


@media (min-width: 992px) {
  .header {
    height: 100px;
  }

  .header__logo {
    width: 210px;
    margin-left: 50px;
  }
}




/*----------------------------------------
	hamburger
----------------------------------------*/

.hamburger {
  width: 50px;
  height: 50px;
  border: 0;
  background: var(--c_main);
  cursor: pointer;
  display: grid;
  place-content: center;
}

.hamburger__line {
  position: relative;
  width: 25px;
  height: 2px;
  background: var(--c_white);
}

.hamburger__line::before,
.hamburger__line::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  background: var(--c_white);
  transition: transform 0.3s;
}

.hamburger__line::before {
  top: -8px;
}

.hamburger__line::after {
  bottom: -8px;
}


/* 閉じる */
/* aria-expanded の状態でスタイルを適用するように変更 */
.hamburger[aria-expanded="true"] .hamburger__line{
  background: transparent;
}

.hamburger[aria-expanded="true"] .hamburger__line::before {
  top: 0;
  transform: rotate(45deg);
}

.hamburger[aria-expanded="true"] .hamburger__line::after {
  bottom: 0;
  transform: rotate(-45deg);
}


@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}




/*----------------------------------------
	gnav
----------------------------------------*/

.gnav__link {
  color: inherit;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.gnav__link:hover {
  color:var(--c_main);
}


@media (max-width: 991px) {
  .gnav {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px); /* 後方互換のためのフォールバック */
    height: calc(100dvh - 50px); /* iOS でも状況に応じて常に高さいっぱいに広げる */
    background: var(--c_white);
    overflow-y: auto; /* 中身があふれたら縦スクロール */
    -webkit-overflow-scrolling: touch; /* iOS で慣性スクロール有効化 */
  }

  .gnav__list {
    border-top: 1px solid var(--c_light-gray2);
  }

  .gnav__item {
    border-bottom: 1px solid var(--c_light-gray2);
  }

  .gnav__link {
    display: block;
    padding: 15px 20px;
  }

  /* 現在位置の指定を aria-current属性に変更 */
  .gnav__link[aria-current] {
    padding-left: 15px;
    border-left: 5px solid var(--c_main);
  }
}


@media (min-width: 992px) {
  .gnav {
    display: block;
    position: static;
    width: auto;
    height: auto;
  }

  .gnav__list {
    display: flex;
  }

  .gnav__link {
    display: block;
    padding: 1em;
    font-size: 18px;
  }

  /* 現在位置の指定を aria-current属性に変更 */
  .gnav__link[aria-current]::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--c_main);
  }
}




/*----------------------------------------
	main-contents
----------------------------------------*/

.main-contents {
  margin-top: 50px;
}

@media (min-width: 992px) {
  .main-contents {
    margin-top: 100px;
  }
}




/*----------------------------------------
	footer
----------------------------------------*/

.footer {
  padding: 0 20px;
  background: var(--c_black);
  color: var(--c_white);
}

.footer__menu > li{
  border-bottom: 1px solid var(--c_dark-gray);
}

.footer__menu a {
  display: block;
  padding: 1em 20px;
  color: var(--c_white);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer__copyright {
  padding: 40px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}


@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }

  .footer__menu {
    border-right: 1px solid var(--c_dark-gray);
  }

  .footer__menu > li {
    display: inline-block;
    border-left: 1px solid var(--c_dark-gray);
    border-bottom: 0;
  }

  .footer__menu  a {
    padding: 0 1em;
  }

  .footer__menu a:hover {
    text-decoration: underline;
  }
}




/*----------------------------------------
	container
----------------------------------------*/

.container {
  max-width: 1120px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}




/*----------------------------------------
	section
----------------------------------------*/

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section + .section {
  padding-top: 0;
}

.section__title {
  margin-bottom: 20px;
}

.section__button {
  margin-top: 40px;
}


@media (min-width: 768px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section__title {
    margin-bottom: 40px;
  }

  .section__button {
    margin-top: 60px;
  }
}




/*----------------------------------------
	ボタン
----------------------------------------*/


/*ボタンベース
-----------------------------------*/

/* a, button, input などに適用される予定なのでベースの表示・挙動が同一になるように調整 */

.button {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 100%;
  border: 2px solid transparent;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  transition: 0.3s;
  cursor: pointer;
}



/* ボタンサイズ
-----------------------------------*/

/* 大サイズ */
.button--lg {
  max-width: 400px;
  padding: 20px;
  font-size: 18px;
}

/* 中サイズ */
.button--md {
  max-width: 300px;
  padding: 20px;
  font-size: 16px;
}

/* 小サイズ */
.button--sm {
  width: auto;
  min-width: 150px;
  padding: 10px;
  font-size: 14px;
}



/*ボタン種類
-----------------------------------*/

/* 標準 */
.button--default {
  background: var(--c_main);
  color: var(--c_white);
}

.button--default:hover,
.button--default:focus {
  opacity: 0.7;
  color: var(--c_white);
}



/* 枠線 */
.button--outline {
  border: 2px solid var(--c_main);
  background: var(--c_white);
  color: var(--c_black);
}

.button--outline:hover,
.button--outlien:focus {
  background: var(--c_sub);
  color: var(--c_black);
}



/* 透過 */
.button--ghost {
  border: 2px solid var(--c_white);
  color: var(--c_white);
}

.button--ghost:hover,
.button--ghost:focus {
  background: rgba(255,255,255,0.3);
  color: var(--c_white);
}



/* Action */
.button--action {
  background: var(--c_action);
  color: var(--c_white);
}

.button--action:hover,
.button--action:focus {
  opacity: 0.7;
  color: var(--c_white);
}



/* Disabled */
.button--disabled,
.button[disabled] {
  background: var(--c_gray);
  color: var(--c_white);
  opacity: 1;
  cursor: default;
}




/* ボタンレイアウト
-----------------------------------*/

.button-center {
  display: flex;
  flex-direction: column;
  align-items: center;;
  gap: 20px;
}

@media (min-width: 768px) {
  .button-center {
    flex-direction: row;
    justify-content: center;
  }
}



/* アイコン配置
-----------------------------------*/

.button i:first-child {
  margin-right: 0.5em;
}

.button i:last-child {
  margin-left: 0.5em;
}




/*----------------------------------------
	テキストスタイル
----------------------------------------*/

/* 基本テキストスタイル */
body {
  color: var(--c_black);
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.75;
}

/* 基本リンクスタイル */
a {
  color: var(--c_main);
  transition: color 0.3s;
}

a:hover {
  color: var(--c_sub2);
  text-decoration: none;
}

/* 強調 */
.text-strong {
  font-weight: bold;
}

/* 警告 */
.text-alert {
  color: var(--c_alert);
  font-weight: bold;
}

/* 注釈 */
.text-note {
  margin-left: 1em;
  text-indent: -1em;
  color: var(--c_dark-gray);
  font-size: 0.875em;
}




/*----------------------------------------
	リスト
----------------------------------------*/

/* ノーマル */
.list-normal {
  display: grid;
  gap: 1em;
}
.list-normal > li{
  position: relative;
  padding-left: 1em;
}
.list-normal > li::before {
  position: absolute;
  left: 0;
  top: 0.75em;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--c_main);
}
/*矢印リンク*/
.list-arrow {
  display: grid;
  gap: 1em;
}
.list-arrow > li{
  position: relative;
  padding-left: 1em;
}
.list-arrow > li::before {
  position: absolute;
  left: 0;
  top: 0.75em;
  content: "";
  display: block;
  width: 0.625em;
  height: 0.625em;
  border-top: 2px solid var(--c_main);
  border-right: 2px solid var(--c_main);
  transform: rotate(45deg);
}
.list-arrow a {
  color: inherit;
  text-decoration: none;
}
.list-arrow a:hover,
.list-arrow a:focus {
  color: var(--c_main);
}
/*数字リンク*/
.list-decimal {
  display: grid;
  gap: 1em;
}
.list-decimal > li {
  margin-left: 1em;
  list-style-type: decimal;
}

/*----------------------------------------
	枠囲み
----------------------------------------*/
/*枠囲み（標準）*/
.frame {
  border: 2px solid var(--c_main);
  padding: 40px;
}
.frame__title {
  padding-left: 20px;
  border-left: 2px solid var(--c_main);
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}
.frame__title + * {
  margin-top: 30px;
}
/*枠囲み（警告）*/
.frame--alert {
  border: 2px solid var(--c_alert);
  color: var(--c_alert);
  font-weight: bold;
}
.frame--alert .frame__title {
  display: flex;
  align-items: center;
  padding-left: 0;
  border-left: 0;
}
.frame--alert .frame__title::before {
  flex-shrink: 0;
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: url(../img/icon_attention.svg) center center / contain no-repeat;
  vertical-align: middle;
}




/*----------------------------------------
	ページタイトル
----------------------------------------*/



/* ページタイトル ( 大・中・小共通 )
--------------------------------------*/

.page-title {
  line-height: 1.5;
}

.page-title__sub {
  display: block;
  color: var(--c_main);
  font-family: 'Oswald',sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.page-title__main {
  display: block;
  font-size: 30px;
  letter-spacing: 0.2em;
}


@media (min-width: 768px) {
  .page-title__sub {
    font-size: 24px;
  }

  .page-title__main {
    font-size: 48px;
  }
}




/* ページヘッダー領域
--------------------------------------*/

/* 大 */
.page-header-lg {
  height: calc(200 / 375 * 100vw);
  padding: 0 20px;
  background-position: center center;
  background-size: cover;
  text-align: center;
  display: grid;
  place-content: center;
}

.page-header-lg__service {
  background-image: url(../img/bg_header_service.jpg);
}


@media (min-width: 768px) {
  .page-header-lg {
    justify-content: start;
    height: 400px;
    padding: 0 50px;
    text-align: left;
  }
}



/* 中 */
.page-header-md {
  padding: 80px 20px;
  background: var(--c_sub);
  text-align: center;
}

.page-header-md__lead {
  margin-top: 40px;
}


@media (min-width: 768px) {
  .page-header-md {
    padding: 100px 0;
  }

  .page-header-md__lead {
    margin-top: 50px;
  }
}



/* 小 */
.page-header-sm {
  padding: 70px 20px;
  background: var(--c_sub);
  text-align: center;
}




/*----------------------------------------
	page-intro
----------------------------------------*/

.page-intro {
  padding: 50px 0;
  line-height: 1.8;
}

.page-intro__catch {
  margin: -4px 0;
  font-size: 22px;
}

.page-intro__txt {
  margin-top: 40px;
}


@media (min-width: 768px) {
  .page-intro{
    padding: 80px 0;
  }

  .page-intro__catch {
    margin: -14px 0;
    font-size: 36px;
    text-align: center;
  }
}




/*----------------------------------------
	cv-area
----------------------------------------*/

.cv-area {
  padding: 50px 0;
  background: var(--c_main);
  color: var(--c_white);
  text-align: center;
  font-size: 14px;
}

.cv-area__txt {
  margin-top: 40px;
}

.cv-area__btn {
  max-width: 400px;
  margin: 40px auto 0;
}

.cv-area__tel {
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
}

.cv-area__tel a {
  color: var(--c_white);
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}

.cv-area__tel span {
  font-size: 24px;
}


@media (min-width: 768px) {
  .cv-area {
    padding: 80px 0;
    font-size: 16px;
  }

  .cv-area__tel a {
    font-size: 48px;
  }

  .cv-area__tel span {
    font-size: 30px;
  }
}




/*----------------------------------------
	breadcrumb
----------------------------------------*/


.breadcrumb {
  display: none;
}


@media screen and (min-width: 768px) {
  .breadcrumb {
    display: block;
    padding: 15px 50px;
    background: var(--c_light-gray);
  }

  .breadcrumb__list li{
    display: inline-block;
    font-size: 12px;
  }

  .breadcrumb__list li:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 3px;
    border-top: 1px solid;
    border-right: 1px solid;
    transform: rotate(45deg);
  }
}




/*----------------------------------------
	見出し
----------------------------------------*/


/* 大見出し
-----------------------------------*/

/* 英語メイン */
.heading-lv2-en {
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.heading-lv2-en__main {
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.heading-lv2-en__sub {
  display: block;
  margin-top: 0.5em;
  color: var(--c_main);
  font-size: 16px;
  font-weight: bold;
}

.heading-lv2-en--white {
  color: var(--c_white);
}

.heading-lv2-en--white .heading-lv2-en__sub {
  color: inherit;
}


@media (min-width: 768px) {
  .heading-lv2-en__main {
    font-size: 48px;
  }

  .heading-lv2-en__sub {
    font-size: 20px;
  }
}



/* 日本語メイン */
.heading-lv2-ja {
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
}

.heading-lv2-ja::after {
  content: "";
  display: block;
  width: 100px;
  margin: 30px auto 0;
  border-top: 1px solid var(--c_main);
}

.heading-lv2-ja__main {
  display: block;
  font-size: 28px;
}

.heading-lv2-ja__sub {
  display: block;
  margin-bottom: 0.5em;
  font-size: 16px;
}

.heading-lv2-ja--white {
  color: var(--c_white);
}

.heading-lv2-ja--white::after {
  border-color: var(--c_white);
}


@media (min-width: 768px) {
  .heading-lv2-ja__main {
    font-size: 40px;
  }

  .heaing-lv2-ja__sub {
    font-size: 18px;
  }
}




/* 中見出し
-----------------------------------*/

.heading-lv3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

.heading-lv3::after {
  content: "";
  display: block;
  width: 50px;
  margin-top: 20px;
  border-top: 1px solid var(--c_main);
}

.heading-lv3--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-lv3--white {
  color: var(--c_white);
}

.heading-lv3--white::after {
  border-color: var(--c_white);
}


@media (min-width: 768px) {
  .heading-lv3 {
    font-size: 28px;
  }
}



/* 小見出し
-----------------------------------*/
.heading-lv4 {
  padding-left: 20px;
  border-left: 2px solid var(--c_main);
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}
.heading-lv4--white {
  color: var(--c_white);
  border-color: var(--c_white);
}
@media (min-width: 768px) {
  .heading-lv4 {
    font-size: 24px;
  }
}

/*小見出し以下
-----------------------------------*/
.heading-lv5 {
  color: var(--c_main);
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.heading-lv6 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}




/*----------------------------------------
	グリッド
----------------------------------------*/

.grid {
  display: grid;
  gap: 40px 20px;
}



/* PC4カラム用 */

.grid--pc4col {
  grid-template-columns:
   repeat(2, 1fr);
}

@media (min-width: 568px) {
  .grid--pc4col {
    grid-template-columns:
      repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .grid--pc4col {
    grid-template-columns:
      repeat(4, 1fr);
  }
}



/* PC3カラム用 */

.grid--pc3col {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 568px) {
  .grid--pc3col {
    max-width: none;
    grid-template-columns:
      repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid--pc3col {
    grid-template-columns:
      repeat(3, 1fr);
  }
}



/* PC2カラム用 */

.grid--pc2col {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .grid--pc2col {
    max-width: none;
    grid-template-columns:
      repeat(2, 1fr);
  }
}




/*----------------------------------------
	item
----------------------------------------*/

.item {
  display: block;
  color: inherit;
  text-decoration: none;
}

/* hover仕様 */
a.item:hover,
a.item:focus {
  color: var(--c_main);
}

a.item:hover .item__image img,
a.item:focus .item__image img {
  transform: scale(1.2);
}

/* 画像（アスペクト比維持して表示）*/
.item__image {
  overflow: hidden;
}

.item__image img {
  width: 100%;
  max-width: none;  /* reset で一律max-width: 100% にしているので解除 */
  aspect-ratio: 256 / 164;
  object-fit: cover;
  transition: 0.5s;
}

/* キャプション */
.item__caption {
  margin-top: 0.56em;
  font-weight: bold;
  display: grid;
  grid-template-columns:
    15px 1fr;
  align-items: baseline;
}

/* 説明テキスト */
.item__description {
  margin-top: 0.2em;
}


/* PC4カラムの SPレイアウトで配置された場合だけの指定 */
@media screen and (max-width: 767px) {
  .grid--pc4col .item {
    font-size: 14px;
  }
}




/*----------------------------------------
	card
----------------------------------------*/

.card {
  /* ソースでサムネイルを後ろにしたので表示を逆順に変更 */
  /* display: block; */

  border: 1px solid var(--c_gray);
  color: inherit;
  line-height: 1.5;
  text-decoration: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.07);
  transition: 0.3s;
  display: flex;
  flex-direction: column-reverse;
}



/* hover仕様（ a要素で構築された場合のみ）*/

a.card:hover,
a.card:focus {
  border: 1px solid var(--c_sub2);
  color: inherit;
}

a.card:hover .card__image img,
a.card:focus .card__image img {
  transform: scale(1.2);
}

a.card:hover .card__btn,
a.card:focus .card__btn {
  opacity: 0.8;
}

a.card:hover .card__btn::after,
a.card:focus .card__btn::after {
  right: 15px;
}



/* サムネイル画像（アスペクト比維持して表示）*/

.card__image {
  overflow: hidden;
  aspect-ratio: 256 / 164;
}

.card__image img {
  width: 100%;
  max-width: none;
  aspect-ratio: 256 / 164;
  object-fit: cover;
  transition: 0.5s;
}

/* カードボディ部 */
.card__body {
  padding: 30px 20px 20px 20px;
}

.card__title {
  font-size: 20px;
}

.card__text {
  margin-top: 10px;
}

.card__btn {
  position: relative;
  margin-top: 30px;
  padding: 10px;
  background: var(--c_main);
  color: var(--c_white);
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
}

.card__btn::after {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  transition: 0.3s;
}
